.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  &__content {
    flex: 2;
    display: flex;
    justify-content: space-around;
  }
  &__actions {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-delete {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      margin: 5px 15px;
    }
  }
}